<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="containerP">
        <ul>
            <li>
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">

                    <h2>Mi Portfolio para Argentina Programa</h2>
                    <p> lorem muy zanahorias, desarrollador Adipado de tomate.¡Hacer cumplir el placer del consecutivo y
                        complacer a otras incomodidades halagador de oficinas de distinción adicionales Los modos de los
                        tiempos de trabajo de los regalos rechazan la ventaja del cuerpo! </p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img src="../../../assets/MiPort.jpg" class="img-fluid img-proyecto">
                </div>
            </li>
            <li>
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">

                    <h2>Proyecto QR</h2>
                    <p> lorem muy zanahorias, desarrollador Adipado de tomate.¡Hacer cumplir el placer del consecutivo y
                        complacer a otras incomodidades halagador de oficinas de distinción adicionales Los modos de los
                        tiempos de trabajo de los regalos rechazan la ventaja del cuerpo! </p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img src="../../../assets/Proyecto Qr.jpg" id="qr" class="img-fluid img-proyecto">
                </div>
            </li>
        </ul>

    </div>
</div>
<hr>
<br>