<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2> - <h3>(Institución)</h3>
            </li>
            <p>Lorem muy zanahorias mejoradas en el medicamento.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 2</h2> - <h3>(Institución)</h3>
            </li>
            <p>Lorem muy zanahorias mejoradas en el medicamento.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 3</h2> - <h3>(Institución)</h3>
            </li>
            <p>Lorem muy zanahorias mejoradas en el medicamento.</p>
        </ul>
    </div>
</div>
<hr>
<br>

