<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(Años)</h3>
            </li>
            <p>Lorem muy zanahorias mejoradas en el medicamento.Seleccionado para las placeres presentes
                Tenía un inventor de un error para obtener un hombre que no soporta nada.Cegado evitando el placer
                ¿Personas que te proporcionan para proporcionar un refrigerio?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(Años)</h3>
            </li>
            <p>Lorem muy zanahorias mejoradas en el medicamento.Seleccionado para las placeres presentes
                Tenía un inventor de un error para obtener un hombre que no soporta nada.Cegado evitando el placer
                ¿Personas que te proporcionan para proporcionar un refrigerio?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(Años)</h3>
            </li>
            <p>Lorem muy zanahorias mejoradas en el medicamento.Seleccionado para las placeres presentes
                Tenía un inventor de un error para obtener un hombre que no soporta nada.Cegado evitando el placer
                ¿Personas que te proporcionan para proporcionar un refrigerio?</p>
        </ul>
    </div>

</div>
<hr>
<br>

