<div class="row barras">
    <h1>Hard & Soft Skills</h1>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="50">Html - Css - Bootstrap</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:75%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="60">Excel</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="50">Photoshop - After Effects</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="75">Inglés</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100">Trabajo en Equipo - Liderazgo</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100">Comunicación</div>
    </div>

</div>
<hr>
<br>

